<?xml version="1.0" encoding="UTF-8"?>
<!--
 * PROSIM (PROduct SIMilarity): backend engine for comparing OpenFoodFacts products 
 * by pairs based on their score (Nutrition Score, Nova Classification, etc.).
 * Results are stored in a Mongo-Database.
 *
 * Url: https://offmatch.blogspot.com/
 * Author/Developer: Olivier Richard (oric_dev@iznogoud.neomailbox.ch)
 * License: GNU Affero General Public License v3.0
 * License url: https://github.com/oricdev/prosim/blob/master/LICENSE
 * -->
<!-- mode = host | path wether accessing remote Boinc server (server_host) or local directory (server_path) -->
<config mode="path">
    <path_to_root>../../..</path_to_root>
    <path_to_logfile_name>logs/log_preparer.log</path_to_logfile_name>
    <!-- Max number of data packages allowed in the output directory. If less, then the preparer task is allowed to produce new data packages/work-units -->
    <max_output_data>400</max_output_data>
    <out_path_preparer>/../../../../../media/olivier/Media/off_match/prosim/outputs/preparer/</out_path_preparer>
    <out_path_feeders>/outputs/feeders</out_path_feeders>
    <out_all_products>all_products.json</out_all_products>
    <out_updated_products>updated_products.json</out_updated_products>
    <!-- statistics about overall progression of producing data packages/import process into mongo-Db -->
    <out_path_stats>/stats/stats_progress.xml</out_path_stats>
    <server_host>?? to come next ??</server_host>
    <!-- reactivate when Boinc is ready or remote server available! -->
    <!-- <server_path>/media/olivier/Media/boinc_off</server_path> -->

    <!-- <server_path>/home/olivier/_developpement/off_boinc_dev/boinc_server</server_path>
    <filepath_nb_free_slots>shared/nb_free_slots.txt</filepath_nb_free_slots> -->
    
    <!-- width and height of products' matrix in a single new work unit file (to be transferred for processing on remote/local server) -->
    <width>5000</width>
    <height>5000</height>
        <!-- Statistics purposes: number of products in width and height to import in Mongo db -->
    <!-- Helps maintaining statistics on overall progression (check logs) -->
    <stats_H_nb_products>283270</stats_H_nb_products>
    <stats_W_nb_products>283270</stats_W_nb_products>
</config>
